<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/css/waiter.css">
    <title>Waiter Dashboard</title>
</head>
<body>
    <nav class="waiter-nav">
        <img src="/images/logo.jpg" class="logo" alt="coffee">
        <a href="/logout">Logout</a>
    </nav>

    <div class="waiter-container">
        <form action="/waiter" method="POST">
            <h3>Hi {{name}}, please select the days you would like to work on:</h3>
            <ul class="days">
                <li><input type="checkbox" name="day"  value="1"> Monday</li>
                <li><input type="checkbox" name="day" value="2"> Tuesday</li>
                <li><input type="checkbox" name="day"  value="3"> Wednesday</li>
                <li><input type="checkbox" name="day"  value="4"> Thursday</li>
                <li><input type="checkbox" name="day"  value="5"> Friday</li>
                <li><input type="checkbox" name="day" value="6"> Saturday</li>
                <li><input type="checkbox" name="day"  value="7"> Sunday</li>
            </ul>
            <button type="submit">Done</button>
        </form>
        {{#if selectedDays}}
            <div class="days">
                <h4>You will be working on:</h4>
                <ul>
                    {{#each selectedDays}}
                        <li>{{this.day_name}}</li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </div>
</body>
</html>